html
  head
    meta(charset="utf-8")
    title 
      =title
      |  | NoiselessAMA
    link(rel='stylesheet', href='/styles/main.css')
  body
    a.home-link(href='/')
      img.home-icon(src="/home-icon.svg", onerror="this.src='home-icon.png'", width="20px")
    button.switch-view(type="button",onclick="changeView(this)") Switch to thread view
    .title-container
      h1
        a(href=url, target="_blank")= title
    .ama-container
      <div class="thread">
      for comment in result
        if comment && comment.level
          if comment.level == 1
            </div>
            <div class="thread">
          - for(var i=0;i<comment.shift;i++) {
            <div class="shift">
          - }
          - for(var i=1;i<comment.level;i++) {
            <div class="level">
          - }
              if comment && comment.data
                if comment.data.author in op || comment.data.author_flair_text in op
                  <div class="comment ans">
                else
                  <div class="comment">
                .permalink-container
                  a(href=url+''+comment.data.id, target="_blank")
                    img.permalink(src="/link.svg", onerror="this.src='link.png'", width="20px")
                <div class="main">
                //- p= comment.total_children
                //- p= comment.level
                p!= comment.data.body_html
                </div>
                if multiA && comment.data.author in op
                  .author
                    p
                      span!= "– "+comment.data.author
                </div>
          - for(var i=1;i<comment.level;i++) {
            </div>
          - }
          - for(var i=0;i<comment.shift;i++) {
            </div>
          - }
      </div>
      </div>
  footer
    p Created by 
      a(href='http://sidverma.net') Sid Verma
      | .
    p
      a.source(href='http://github.com/mavidser/NoiselessAMA') View source on Github

  //-Tracking code
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-49246827-1', 'sidverma.net');
    ga('send', 'pageview');
  script(type='text/javascript').
    function switchToThread() {
      document.getElementsByTagName("body")[0].className += " threadMode"
    }
    function switchToDefault() {
      document.getElementsByTagName("body")[0].className -= " threadMode"
    }
    function changeView(button) {
      if (button.innerHTML==='Switch to thread view') {
        switchToThread();
        button.innerHTML = 'Switch to default view'
      } else if (button.innerHTML==='Switch to default view') {
        switchToDefault();
        button.innerHTML = 'Switch to thread view'
      }
    }
